// Flat colors
$color-green: #2ecc71;
$color-blue: #2980b9;
$color-gray: #34495e;
$color-red: #e74c3c;
$color-ocean: #16a085;

// Flat Colors Dark
$color-green-dark: #27ae60;
$color-gray-dark: #2c3e50;

// Base colors
$color-white: #fff;
$color-black: #000;